Footer {
    text-align: center;
    color: white;
<<<<<<< HEAD
    padding: 10px;
    margin-top: 1rem;
    background-color: black;
}

p {
	font-size: 1em;
}

.fa {
  padding: 0.5em;
  font-size: 1em;
  width: 2em;
  text-align: center;
  text-decoration: none;
  margin: 0 0.5em;/*5px 2px;*/
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-instagram {
  background: #f09433; 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
=======
    padding: 30px;
    margin-top: 1.7rem;
    background-color: #990000;
>>>>>>> b1d37ab24199d71ad048037eaaeb254f7bb12da8
}