.header-layout {
  margin: auto;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #990000;
  z-index: 2;
}

.header-container {
  display: grid;
  grid-template-columns: 1fr .2fr .2fr .2fr .2fr;
  align-items: center;
  font-family: 'Crimson Text', serif;
  font-size: 25px;
  padding: 10px;
}

.header-logo {
  justify-self: start;
  margin: 0;
  width: 13rem;
  padding: 10px;
}

.header-features {
  justify-self: center;
  color: white;
  margin: 0;
}

@media only screen and (max-width: 768px) {
  .header-container .header-logo {
    width: 100%;
  }

  .header-container .header-features {
    width: 100%;
  }
}

i {
  color: black;
}