.header-layout {
  margin: auto;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #990000;
}

.header-container {
  display: grid;
  grid-template-columns: 1fr .2fr .2fr .2fr .2fr;
  align-items: center;
  font-family: Palatino;
  font-size: 25px;
  padding: 10px;
}

.header-logo {
  justify-self: start;
  margin: 0;
  width: 13rem;
  padding: 10px;
}

.header-features {
  justify-self: center;
  color: white;
  margin: 0;
}

i {
  color: black;
}