.home-layout
{
	display: grid;
	margin: auto;
    padding: 0;
	grid-template-columns: 10% 80% 10%; 
	grid-template-rows: 60% 20% 40%;
}

.banner
{
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: repeat(9,1fr);
	grid-column: 1 / span 3;
	background-position-x: center;
	background-position-y: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: grid;
	background-image: url("https://images.pexels.com/photos/459469/pexels-photo-459469.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940g");
	width: 100%;
	height: 100vh;
	grid-gap: 10px;
}

.slogan
{
  color: #FFAFBD;
  grid-column-start: 3 ;
  grid-row: 3 / 6;
  align-content: center;
  justify-content: center;
}

.banner button
{
  color: #fff;
  border-radius: 50px;
  cursor: pointer;
}

.banner .button1
{
  grid-column: 2;
  background-image: linear-gradient(90deg, #7b81ec,  #3bd1d3);
  grid-row: 7; 
  padding: 1em 1em;
}

.banner .button1:before 
{
  background-image: linear-gradient(90deg,  #7b81ec, transparent);
}

.banner .button1:after
 {
  background-image: linear-gradient(90deg, transparent, #3bd1d3);
}

.banner .button2
{
  grid-column: 4;
  background-image: linear-gradient(90deg, #fa80d2, #fed757);
  grid-row: 7; 
  padding: 1em 1em;
}

.banner .button2:before 
{
  background-image: linear-gradient(90deg,  #fa80d2, transparent);
}

.banner .button2:after 
{
  background-image: linear-gradient(90deg, transparent, #fed757);
}

.home-container 
{
	grid-column-start: 2;
}

.about 
{
	text-align: center;
	padding: 20px;
}

.about h1
{
	padding: 10px;
}

.about p
{
	padding: 20px 10vw;
}

.products
{
	display: grid;
	grid-gap: 15px;
	grid-template-columns: repeat(auto-fit, 1fr);
	grid-template-areas: 
	"img1 img2"
}

.products .product img
{
	height: auto; 
	width: auto; 
	max-width: 22em; 
	max-height: 15em;
}