.containerLogIn {
  font-family: 'Crimson Text', serif;
  background-position-x: center;
	background-position-y: center;
	background-repeat: no-repeat;
	background-size: cover;
  width: 100%;
	height: 100vh;
}

h1 {
  color: white;
  font-family: 'Crimson Text';
}

.containerLogIn #login-form {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 55%;
  width: 5em;
  min-width: 600px;
  background-color: #b22342;
  font-family: sans-serif;
  min-height: 35em;
  color: white;
  border-radius: 10%;
  box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.52);
  transition: 0.3s all;
}

input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea 
{
  background-color: white;
}

.containerLogIn #login-form-content {
  width: 80vw;
  max-width: 450px;
}

.containerLogIn #login-form-content input {
  padding-left: 10px;
  font-size: 1.2em;
}

.btn {
  margin-top: 10px;
  transition: 0.3s all;
}

.btn:hover {
  background-color: #3e48cf;
}

.containerLogIn #login-form-content a {
  text-decoration: none;
  color:#69D870;
}

.containerLogIn #login-form-content button {
  font-size: 1.2em;
}