.containerLogIn {
  width: 100%;
	height: 90vh;
}
h1 {
  color: #89D8E8;
}

.containerLogIn #login-form {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 5em;
  min-width: 600px;
  background-color:   #FDD7E4;
  font-family: sans-serif;
  min-height: 35em;
  color: white;
  border-radius: 10%;
  box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.52);
}

.containerLogIn #login-form-content {
  width: 80vw;
  max-width: 450px;
}

.containerLogIn #login-form-content input {
  padding: 10px;
  font-size: 1.2em;
}

.containerLogIn #login-form-content a {
  text-decoration: none;
  color:#69D870;
}

.containerLogIn #login-form-content button {
  font-size: 1.2em;
}