.ProductPage {
    margin-top: 7rem;
}

.ProductPage-container {
	margin-bottom: 20px;
	display: flex;
}

.ProductPage-title {
	font-size: 2.2rem;
}

.ProductPage-col1, .ProductPage-col2 {
    flex: 50%;
}

.info {
	padding-left: 80px;
}

.bold {
	font-weight: bold;
}